@model PagedList.IPagedList<ASP.NET._2.Myalik.SocialNet.Models.UserInformationViewModel>

@{
    ViewBag.Title = "Admin";
    var formAjaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ParentDiv",
        OnSuccess = "Success"
    };

}

<script>
    function Success() {
        $.Notify({
            caption: 'Saved',
            content: '@ViewBag.Message',
            type: 'success'
        });
    }
</script>
<div id="users-info">
    <table class="table border bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>E-mail</th>
            <th>Mobile</th>
            <th>Role</th>
            <td>Save</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr role="row" class="odd">
                @using (Ajax.BeginForm("ConfigUser", "Admin", new { page = @Model.PageNumber }, formAjaxOptions))
                {
                    <td>
                        <input type="hidden" id="UserId" name="UserId" value="@item.UserId" />
                        @item.UserId
                    </td>
                    <td>
                        <div class="input-control text full-size">
                            <input id="Name" name="Name" type="text" value="@item.Name" />
                        </div>
                    </td>
                    <td>
                        <div class="input-control text full-size">
                            <input id="LastName" name="LastName" type="text" value="@item.LastName" />
                        </div>
                    </td>
                    <td>
                        <div class="input-control text full-size">
                            <input id="Email" name="Email" type="text" value="@item.Email" />
                        </div>
                    </td>
                    <td>
                        <div class="input-control text full-size">
                            <input id="Mobile" name="Mobile" type="text" value="@item.Mobile" />
                        </div>
                    </td>
                    <td>
                        <div class="input-control select">
                            <select id="Role" name="Role">
                                @foreach (var role in Roles.GetAllRoles())
                                {
                                    if (role == item.Role.ToString("G"))
                                    {
                                        <option selected>@role</option>
                                    }
                                    else
                                    {
                                        <option>@role</option>
                                    }
                                }
                            </select>
                        </div>
                    </td>
                    <td><button type="submit" value="save" class="button primary">Save</button></td>

                }
            </tr>
        }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GetPage", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "ParentDiv" }))
</div>

